---
import { Image } from "astro:assets";
import type { PROJECTS } from "@/utils/constants/project";

type Props = (typeof PROJECTS)[number];

const { title, description, imageURL, githubURL } = Astro.props;
---

<a href={githubURL} target="_blank" class="group">
  <div class="rounded-md flex flex-col gap-1">
    <Image src={imageURL} alt={title} class="rounded-[3px]" />
    <div>
      <div
        class="text-lg font-semibold group-hover:text-orange-500 transition-colors duration-300"
      >
        {title}
      </div>
      <div class="break-keep">{description}</div>
    </div>
  </div>
</a>
